!!!
%html
  %head
    %title RailsWebpackVueHamlSass
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "http://localhost:3808/webpack-dev-server.js"

  %body
    .bg-image
    .container.body-container
      = yield

    = javascript_include_tag *webpack_asset_paths("application")
